header {
    background-color: tomato;
    color: purple;
    font-weight: bolder;
    font-style: italic;
    font-size: x-large;
    padding: 10px;
    border-style: dashed;
    border-width: thick;
}

footer {
    background-color:teal;
     color: yellow; 
     font-weight: bolder;
     font-style: inherit;
     padding: 10px;
     position: absolute;
     bottom: 0;
     width: calc(100% - 20px);
     border-style: dotted;
     border-width: thick;

}

body {
    margin: 0;
    height: 100vh;
}

img {
    height: 200px;
}

form {
    font-size: 20px;
    
}